.textfield-icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
}

.textfield {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.25rem;
    width: 100%;

    &[data-disabled] {
        color: #4a5568;
        opacity: 0.5;
        cursor: default;
    }
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 42px;
}

.input {
    display: flex;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    width: 100%;

    &[data-disabled] {
        background-color: #e2e8f0;
        color: #4a5568;
        opacity: 0.5;
        cursor: default;
    }

    &.icon-left {
        padding-left: 3rem;
    }

    &.icon-right {
        padding-right: 3rem;
    }

    &:focus-visible {
        outline-color: dodgerblue;
    }
}

.textfield-icon {
    position: absolute;
    display: flex;
    gap: 5px;

    &--right {
        right: 1rem;
    }

    &--left {
        left: 1rem;
    }
}

.RALabel {
    font-size: 0.8rem;
}
