.circular-progress-bar {
    display: inline-block;
    position: relative;
}

.circular-progress-bar__text {
    font-size: 1rem;
    fill: #6e6e6e;
}

.circular-progress-bar__text-value {
    fill: #212427;
    font-size: 1.4rem;
}
