@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// Variables
$dark-text: #212427;
$neutral-text: #868889;
$light-text: #ffffff;
$primary: #3e9c47;
