.badge-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 1rem;
    background-color: $primary;
    width: fit-content;
    height: fit-content;
    color: white;
}
