.badge-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 5px 10px 5px 10px;
    border: none;
    border-radius: 1rem;
    background-color: #519a58;

    color: white;
}
