.setup {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 95vh;
    width: 100%;

    .setup__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 80%;
    }

    .setup__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;
        gap: 2rem;
    }
}
