.list {
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 8px;
    background: white;

    &:focus-visible {
        outline-color: dodgerblue;
    }

    &[data-loading] {
        cursor: default;

        .list-item {
            display: flex;
            gap: 8px;
            align-items: center;
            padding: 8px;
        }
    }

    .list-item {
        border-radius: 4px;
        padding: 8px;

        &:focus-visible {
            outline-color: dodgerblue;
        }
    }
}
