.calendar {
    width: fit-content;
    max-width: 100%;
    color: var(--text-color);

    .calendar-header {
        display: flex;
        align-items: center;
        margin: 0 4px 0.5rem 4px;

        .calendar-heading {
            flex: 1;
            margin: 0;
            text-align: center;
            font-size: 1.375rem;
        }
    }

    .calendar-button {
        width: 2rem;
        height: 2rem;
        padding: 0;
        background: $primary;
        border: none;
        border-radius: 4px;
        color: white;
    }

    .calendar-cell {
        align-content: center;
        width: 2rem;
        line-height: 2rem;
        text-align: center;
        border-radius: 6px;
        cursor: default;
        margin: 1px;
        forced-color-adjust: none;
        background: #ebedf0;
        border: 1px solid #dfe1e4;
        color: rgba(0, 0, 0, 0);

        &.white {
            color: black;
            background: #ffffff;
        }

        &.yellow {
            color: white;
            background: #bcba29;
        }

        &.green {
            color: white;
            background: #008537;
        }

        &.red {
            color: white;
            background: #c23b26;
        }

        &[data-colorblind='true'] {
            &.yellow {
                color: white;
                background-color: #bcba29;
                opacity: 0.8;
                background-image: linear-gradient(
                    0deg,
                    #bcba29 50%,
                    #717019 50%
                );
                background-size: 8px 8px;
            }
            &.green {
                background-color: #008537;
                opacity: 0.8;
                background-image:
                    linear-gradient(135deg, #005021 25%, transparent 25%),
                    linear-gradient(225deg, #005021 25%, transparent 25%),
                    linear-gradient(45deg, #005021 25%, transparent 25%),
                    linear-gradient(315deg, #005021 25%, #008537 25%);
                background-position:
                    8px 0,
                    8px 0,
                    0 0,
                    0 0;
                background-size: 16px 16px;
                background-repeat: repeat;
            }
            &.red {
                background-color: #c23b26;
                opacity: 0.8;
                background-image:
                    repeating-linear-gradient(
                        45deg,
                        #742317 25%,
                        transparent 25%,
                        transparent 75%,
                        #742317 75%,
                        #742317
                    ),
                    repeating-linear-gradient(
                        45deg,
                        #742317 25%,
                        #c23b26 25%,
                        #c23b26 75%,
                        #742317 75%,
                        #742317
                    );
                background-position:
                    0 0,
                    8px 8px;
                background-size: 16px 16px;
            }
        }

        &[data-selected='true'] {
            outline: 4px solid black;
        }

        &[data-outside-month] {
            background: #e1e1e3;
        }

        &[data-pressed] {
            background: pink;
        }

        &[data-focus-visible] {
            outline: 2px solid var(--focus-ring-color);
            outline-offset: 2px;
        }
    }
}

@media (min-width: 500px) {
    .calendar {
        .calendar-cell {
            width: 50px;
            height: 50px;
            color: $dark-text;
            font-weight: bold;
        }
    }
}
