.text {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.text--small {
    font-size: 12px;
}

.text--medium {
    font-size: 16px;
}

.text--large {
    font-size: 20px;
}

.text--primary {
    color: #212427;
}

.text--secondary {
    color: #ffffff;
}
