@use '../../globals.scss' as *;

.text--small {
    font-size: 0.75rem;
}

.text--medium {
    font-size: 1rem;
}

.text--large {
    font-size: 1.25rem;
}

.text--primary {
    color: $primary-text;
}

.text--secondary {
    color: $secondary-text;
}
