@use '../../globals.scss' as *;

.text--small {
    font-size: 12px;
}

.text--medium {
    font-size: 16px;
}

.text--large {
    font-size: 20px;
}

.text--primary {
    color: $primary-text;
}

.text--secondary {
    color: $secondary-text;
}
