.text--small {
    font-size: 0.75rem;
}

.text--medium {
    font-size: 1rem;
}

.text--large {
    font-size: 1.25rem;
}

.text--dark {
    color: $dark-text;
}

.text-neutarl {
    color: $neutral-text;
}

.text--light {
    color: $light-text;
}
