.custom-modal {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 280px;
}

.custom-modal-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 250px;
}
