.formtextfield {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.formtextfield-error {
    color: #b65050;
    font-weight: bold;
}

.forminput-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: fit-content;
}

.forminput {
    display: flex;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    width: 100%;

    &.icon-left {
        padding-left: 3rem;
    }

    &.icon-right {
        padding-right: 3rem;
    }

    &:focus-visible {
        outline-color: dodgerblue;
    }
}

.formtextfield-icon {
    position: absolute;
    display: flex;
    gap: 5px;

    &--right {
        right: 0.5rem;
        top: 0.5rem;
    }

    &--left {
        left: 0.5rem;
        top: 0.5rem;
    }
}

.formRALabel {
    font-size: 0.8rem;
}
