.button-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    min-width: 60px;
    background-color: #519a58;
}

.button-wrapper--outline {
    border: 2px solid black;
}

.button {
    display: inline-block;
    cursor: pointer;
    border: 0;
    font-weight: 700;
    line-height: 1;
}

.button--primary {
    background-color: #519a58;
    color: white;
}

.button--small {
    padding: 10px 16px;
    font-size: 0.75rem;
}

.button--medium {
    padding: 10px 20px;
    font-size: 1rem;
}

.button--large {
    padding: 12px 24px;
    font-size: 1.25rem;
}
