.button {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    line-height: 1;
    width: 100%;


    &:focus-visible {
        outline-color: dodgerblue;
    }
}

.button--primary {
    background-color: #519a58;
    color: white;
    padding: 12px 24px;
}

.button--secondary {
    background-color: white;
    outline: 2px solid $primary;
    color: black;
    padding: 12px 24px;
}

.button--danger {
    background-color: #b65050;
    color: white;
    padding: 12px 24px;
}
