.button-wrapper {
    background-color: #519a58;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    border-radius: 10px;
    width: 100%;
}

.button {
    display: inline-block;
    cursor: pointer;
    border: 0;
    font-weight: 700;
    line-height: 1;
}
.button--primary {
    background-color: #519a58;
    color: white;
}
.button--secondary {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
    background-color: transparent;
    color: #333;
}
.button--small {
    padding: 10px 16px;
    font-size: 12px;
    font-size: 0.75rem;
}
.button--medium {
    padding: 11px 20px;
    font-size: 14px;
    font-size: 1rem;
}
.button--large {
    padding: 12px 24px;
    font-size: 16px;
    font-size: 1.25rem;
}
