.icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border-radius: 100%;
    border: none;
    padding: 4px;
    width: 32px;
    height: 32px;
    cursor: pointer;

    &:focus-visible {
        outline: none;
    }

    &:focus {
        outline-color: dodgerblue;
    }
}
