@import './globals.scss';
@import './components/Text/text.scss';
@import './components/Button/button.scss';
@import './components/TextField/textfield.scss';
@import './components/Modal/modal.scss';
@import './components/Heading/heading.scss';
@import './components/Badge/badge.scss';
@import './components/CircularProgressBar/circularprogressbar.scss';
@import './components/Calendar/calendar.scss';
@import './components/IconButton/iconbutton.scss';
@import './components/List/list.scss';
@import './components/ProgressBar/progressbar.scss';
@import './components/SegmentedControl/segmentedcontrol.scss';
@import '../src/routes/modifyroute/components/customcaloriesmodal';
