.storybook-textfield {
    display: inline-block;
    cursor: pointer;
    border: 0;
    border-radius: 3em;
    font-weight: 700;
    line-height: 1;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.storybook-textfield--primary {
    background-color: #555ab9;
    color: white;
}
.storybook-textfield--secondary {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
    background-color: transparent;
    color: #333;
}
.storybook-textfield--small {
    padding: 10px 16px;
    font-size: 12px;
}
.storybook-textfield--medium {
    padding: 11px 20px;
    font-size: 14px;
}
.storybook-textfield--large {
    padding: 12px 24px;
    font-size: 16px;
}

.storybook-textfield-icon {
    width: 20px;
    height: 20px;
}

.storybook-textfield-content {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.storybook-textfield-wrapper { 
    display: flex;
    align-items: center;
    flex-direction: row;
    outline: 1px solid black;
}