.textfield-icon {
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
}

.textfield {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.input {
    cursor: pointer;
    display: flex;
    border: 2px solid black;
    border-radius: 16px;
    padding: 10px;
    width: 100%;

    &.icon-left {
        padding-left: 3rem;
    }

    &.icon-right {
        padding-right: 3rem;
    }

    &:focus-visible {
        outline-color: dodgerblue;
    }
}

.textfield-icon {
    position: absolute;
    display: flex;
    gap: 5px;

    &--right {
        right: 1rem;
    }

    &--left {
        left: 1rem;
    }
}

.RALabel {
    font-size: 0.8rem;
}
